@tailwind base; /* directives */
@tailwind components;
@tailwind utilities;

/* use it to style that applies to all our pages, anything to do in our body element. Anything that is specific to page or component should be done somewhere else. Do not define custom classes */
:root {
  /* custom css */
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  /* for mode (dark or light) css */
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: black;
  padding: 1rem;
}
